/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    /* Background image */
    background-image: url(https://i.imgur.com/7SZ60bY.jpg);
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family:Montserrat;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
/* Site-wide font */
*{
    font-family: Montserrat;
  }
  
  /* Logo formatting */
  .logo {
    vertical-align: top;
    width: 100px;
    height: 50px;
    float: left;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      font-size: 17px;
      background-color: rgb(0, 0, 0);
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      font-size: 17px;
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
    }